@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.form__btn--header, .form__container {
  border-radius: 5px;
  width: 23rem;
  min-width: 7rem;
  border: none;
  -webkit-box-shadow: 0 0.3rem rgba(62, 60, 73, 0.3);
          box-shadow: 0 0.3rem rgba(62, 60, 73, 0.3);
}

.form__group input, .form__btn--submit {
  border-radius: 3px;
  width: 100%;
  height: 2.4rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  outline: none;
  font-family: inherit;
  border: 1px solid #b9b6d3;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #ff7a7a;
  background-image: url("../images/bg-intro-desktop.png");
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.none {
  display: none;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: auto 3rem;
  max-width: 720px;
}

.intro__title, .intro__description {
  width: 80%;
}

.intro__title {
  font-size: 2.2rem;
}

.intro__description {
  font-size: 0.8rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5rem;
  max-width: 720px;
}

.form__btn--header {
  background-color: #6055a5;
  color: white;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  height: 2.5rem;
}

.form__btn--header span {
  font-weight: bold;
}

.form__container {
  background-color: white;
  min-height: 22rem;
}

.form__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.form__container form:first-child {
  margin-top: 2rem;
}

.form__group {
  position: relative;
  width: 85%;
  margin-bottom: 0.5rem;
}

.form__group input {
  display: block;
  font-weight: 500;
  display: block;
  width: 100%;
  text-indent: 0.5rem;
  color: #3e3c49;
}

.form__group input:focus {
  border: 1px solid #3e3c49;
}

.form__btn--submit {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #38cc8c;
  -webkit-box-shadow: 0 0.2rem rgba(62, 60, 73, 0.4);
          box-shadow: 0 0.2rem rgba(62, 60, 73, 0.4);
}

.form__btn--submit:hover {
  cursor: pointer;
  background-color: rgba(56, 204, 140, 0.8);
  -webkit-box-shadow: 0 0.2rem #38cc8c;
          box-shadow: 0 0.2rem #38cc8c;
}

.form__term {
  font-size: 0.6rem;
  text-align: center;
  color: #b9b6d3;
}

.form__term span {
  font-weight: bold;
  color: #ff7a7a;
}

.form__error--icon {
  position: absolute;
  top: 33%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__error--msg {
  position: relative;
  margin-top: -0.9rem;
  font-size: 0.6rem;
  font-style: italic;
  color: #ff7a7a;
  text-align: right;
}

@media screen and (max-width: 768px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body {
    background-image: url("../images/bg-intro-mobile.png");
  }
  .intro {
    max-width: 80%;
    text-align: center;
  }
  .form {
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */